{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}


<!-- Hero -->

<div class="hero p-5 text-center bg-image rounded-5 mt-5" style="
    background-image: url('https://catalogue.swanngalleries.com/full//784/771784.jpg');
    height: 500px; width: 100%
  ">
    <div class="mask mt-5" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to Art Club</h1>
                <h4 class="mb-3">A Space for Artists to Post and Discuss their Works in Progress</h4>
            {% if current_user.is_authenticated %}
                <p>
                    <span><a class="btn btn-outline-light btn-lg" href="{{ url_for('logout') }}" role="button">logout</a></span>
                    <span> or </span>
                    <span><a class="btn btn-outline-light btn-lg" href="{{ url_for('gallery') }}" role="button">Join Critique</a></span>
                </p>
            {% else %}

                <p>
                <span><a class="btn btn-outline-light btn-lg" href="{{ url_for('login') }}" role="button">login</a></span>
                <span> or </span>
                <span><a class="btn btn-outline-light btn-lg" href="{{ url_for('signup') }}" role="button">sign up</a></span>
                </p>
            
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Hero -->

{% endblock content %}

