{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}


<!-- image behind card -->

{% if current_user.is_authenticated %}

<h2 class="m-4 text-center" style="color:rgb(22, 69, 69);">{{ current_user.username }}'s Addys</h2>
<div class="d-flex justify-content-around">
    <a href="{{ url_for('add_addy') }}" class="btn btn-colour-2 btn-lg mt-3 w-30">+ New Addy</a>
</div>
<hr>
<!-- Start Addy Card -->
<div class="d-flex flex-wrap p-2">
{% for contact in contacts %}
{% if current_user == contact.book_owner %}
    <div class="d-flex flex-lg-column mb-3">
        <div class="card border border-0 m-2" style="width: 20rem;">
            <img src="../static/IMG/Screen Shot 2022-08-21 at 8.47.20 PM.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <br>
                <br>
            <div class="d-flex flex-row justify-content-around">
                <h4 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h4>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <p class="card-text">{{ contact.street_address }}</p>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <p class="card-text">{{ contact.city }}, {{ contact.state }}</p>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <p class="card-text">{{ contact.country }} {{ contact.zip_code }}</p>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <p class="card-text">{{ contact.phone_number }}</p>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-around">
                <p class="card-text"><small class="text-white">updated {{ contact.date_created.strftime('%B %d,%Y') }}</small>
                </p>
            </div>
            <br>
            <br>
            <div class="d-flex flex-row">
                <div class='col-6 text-center'>
                    <p><a href="{{ url_for('delete_addy', contact_id=contact.id) }}" class="btn btn-colour-1 btn-sm"
                            data-bs-toggle="modal" data-bs-target="#deleteModal-{{ contact.id }}">Delete</a></p>
                </div>
                <div class='col-6'>
                    <p><a href="{{ url_for('edit_addy', contact_id=contact.id) }}" class="btn btn-outline btn-sm">Update Addy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Addy Card -->


<!-- Delete button triggers Modal -->

<div class="modal fade" id="deleteModal-{{ contact.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }}'s address? This action
                cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_addy', contact_id=contact.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}


{% else %}
<h5 class="text-center">sign up or log in to get started</h5>
{% endif %}

{% endblock content %}